<html>
<head>
<title></title>
<style>
    * {
        margin-top: -10px;
    } input {
        margin-top: 10vw;
    } #review {
        height:20vh;
    }
</style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="bg-success">
<nav class="bg-danger text-center">
<h1 class="text-primary">Resume Reviews</h1>
</nav>
<form class="text-center" method="POST" action="/Post">
<input class="text-center" id="company" name="company" placeholder="company"></input>
<br>
<input class="text-center" id="review" name="review" placeholder="review"></input>
<br>
<input id="submit" type="Submit" class="text-center"></input>
</form>
<script>
</script>
</body>
</html>